.home-bg-img	
	position: absolute
	top: 0px
	bottom: 0px
	width: 100%
	background: url(../img/home.jpg)
	background-size: cover
	background-position: center center
	background-repeat: no-repeat

.fullscreen-box
	position: relative
	letter-spacing: -9px

	@media $media1
		letter-spacing: -6px 

	@media $media2
		letter-spacing: -3px	


.home-entries
	position: relative
	width: 100%
	overflow: hidden
	clear: both
	box-sizing(border-box)
	padding: 0px
	background: $r6

	.column
		position: relative
		float: left
		width: 50%
		overflow: hidden


		@media $media2
			width: 100%

		.item
			position: relative
			width: 100%
			color: #FFF	
			cursor: pointer
			transition: (0.15s all)
			box-sizing(border-box)
			overflow: hidden
			padding: 60px 10% 60px 10%

			@media $media1
				padding: 50px 7% 50px 7%	

			@media $media3
				padding: 35px 7% 35px 7%	

			@media $media4
				padding: 30px 5% 30px 5%

			&.tweet
				background: $r4
				font-size: 0.25em

				@media $media2
					font-size: 0.25em

				@media $media3
					padding: 25px 7% 25px 7%	

				@media $media4
					padding: 20px 5% 20px 5%	

			&.l1
				background: $r1	

			&.l2
				background: $r2	

			&.l3
				background: $r3		

			&.l4
				background: $r5			

			&.l5
				background: $r4	

			&.l6
				background: $r6	

			.smart-image
				position: absolute
				top: 0px
				left: 0px
				width: 100%

			.wide-box, .black
				position: absolute
				top: 0px
				left: 0px
				width: 100%
				transition(0.2s)
					
			.black
				background: #000
				opacity(0.3)	
				bottom: 0px

			.date
				position: relative
				font-size: 0.25em	
				color: #FFF
				padding-bottom: 15px

				@media $media1
					//font-size: 0.18em	
					padding-bottom: 13px

				@media $media2
					font-size: 0.3em	
					padding-bottom: 10px

			.excerpt
				position: relative
				left: 0px
				top: 0px
				width: 100%
				box-sizing(border-box)
				font-size: 0.6em	

				@media $media1
					font-size: 0.5em	
					

			@media $media2_above
				&:hover
					background: #000 !important
					color: #FFF !important

					.excerpt
						color: #FFF !important
						text-decoration: underline

					.date
						color: #FFF !important
						text-decoration: none !important
					
					.wide-box
						transform(scale(1.1))	

					.black
						opacity(1)	