$r1 = #e21e25
$r2 = #f68d1e
$r3 = #f7de01
$r4 = #008141
$r5 = #415aa8
$r6 = #732a82

$media1 = 'all and (max-width: 1250px)'
$media2 = 'all and (max-width: 800px)'
$media3 = 'all and (max-width: 550px)'
$media4 = 'all and (max-width: 380px)'

$media2_above = 'all and (min-width: 801px)'

category-specific(color)
	h1
		color: color

	a, a:visited
		color: color	
		border-bottom: 1px dotted color
		text-decoration: none

	a:hover
		border-bottom: 1px solid

page-news()
	position: relative
	background: #FFF
	width: 100%
	
	max-width: 960px
	display: block
	margin: 0px auto 0px auto
	z-index: 3
	box-sizing(border-box)
	padding-top: 0px 

	@media $media1 
		padding-top: 60px

	.text-content
		position: relative
		width: 100%
		overflow: hidden
		box-sizing(border-box)
		padding: 0px 60px 40px 60px

		@media $media1
			padding: 0px 50px 40px 50px

		@media $media2
			padding: 0px 40px 40px 40px

		@media $media3
			padding: 0px 20px 40px 20px

		@media $media4
			padding: 0px 10px 30px 10px

	&.category1
		category-specific($r1)

	&.category4
		category-specific($r5)	

	&.category5
		category-specific($r4)	

	&.category2
		category-specific($r2)

	&.category3
		category-specific($r3)		

	h1
		margin: 0px 
		padding: 0.3em 0px
		font-size: 1em
		letter-spacing: -4px

		@media $media1 
			font-size: 0.8em
			letter-spacing: -3px

		@media $media3
			font-size: 0.6em	
			padding: 0.2em 0px
			letter-spacing: -2px

		@media $media4
			font-size: 0.6em
			padding: 0.2em 0px	

	h2
		margin: 0px
		padding: 1em 0px 
		font-size: 0.45em	

	h3
		margin: 0px
		padding: 0.7em 0px 
		font-size: 0.35em		

	h4
		margin: 0px
		padding: 0.7em 0px 
		font-size: 0.25em	

	p 
		font-size: 0.21em 
		margin: 0px
		padding: 0.7em 0px
		font-weight: 300
		line-height: 1.4em

		@media $media3
			font-size: 0.25em	

		@media $media4
			font-size: 0.26em	

	ol,ul 
		font-size: 0.21em
		margin: 0px 
		padding: 0.7em 0px
		list-style-position: inside
		font-weight: 300

		li 
			margin-bottom: 0.8em

		@media $media3
			font-size: 0.25em	

		@media $media4
			font-size: 0.26em	

	iframe
		width: 100%		

	.sponsors
		width: 100%
		position: relative
		overflow: hidden

		.sponsor
			position: relative
			width: 33.33333333%
			float: left

body
	background: #FFF
	font-family: Helvetica
	font-size: 100px

	@media $media1
		font-size: 90px

	@media $media2
		font-size: 80px

	@media $media3
		font-size: 70px

	@media $media4
		font-size: 60px		
