.page, .news
	position: relative
	width: 100%
	overflow: hidden
	padding: 0px 10% 0px 10%
	box-sizing(border-box)

	@media $media1
		padding: 0px 10% 0px 10%

	@media $media2
		padding: 00px 5% 0px 5%

