textfit()
	position: absolute
	width: 70%
	box-sizing(border-box)
	//top: 0px
	left: 0px
	color: #FFF
	padding: 140px 10px 100px 20px
	//padding: 10% 0px 10% 20px
	//padding: 100px 0px 100px 20px
	font-style: italic
	overflow: hidden
	line-height: 1
	font-weight: bold
	
	@media $media2
		width: 80%
		padding: 100px 10px 60px 20px

	@media $media3
		padding: 80px 10px 40px 10px 
		width: 90%