{{site-menu action="showMenu" menuLines=menuLines transparentMenu=transparentMenu language=language}}

{{expanded-menu visible=menuIsVisible language=language menuLines=menuLines language=language}}

{{outlet}}

{{site-footer action="changeLanguage" transparentMenu=transparentMenu language=language}}