{{#if application.home.has_video}}
	{{smart-video pictures=application.home.pictures video=application.home.video text=application.home.title_translated maxFontSize=180}}
{{else}}
	{{smart-image pictures=application.home.pictures fullscreen=true text=application.home.title_translated maxFontSize=180}}
{{/if}}	

<div class="home-entries">
	{{#each columns as |column|}}
		<div class="column">
				
			{{#each column.entries as |entry|}}

				<div class="item l{{unbound entry.category}} {{if entry.no_picture 'l5'}} {{if entry.tweet 'tweet'}} " {{action 'click' entry}}>

					{{#if entry.tweet}}
						{{entry.text}}							
					{{else}}
					
						{{#unless entry.feature}}

							{{#if entry.pictures}}
								{{smart-image pictures=entry.pictures wide_box=true aspect_ratio=0.45 parent='.item' full_box=true}}
								<div class="black"></div>
							{{/if}}
							
							<div class="date white">
								{{formatted-date entry.created_at}}
							</div>

							<div class="excerpt">
								{{entry.title_translated}}
							</div>


						{{else}}
							
							{{#unless entry.donate}}
							<div class="date white">
								{{entry.title_translated}}
							</div>
							{{/unless}}
							
							<div class="excerpt">
								{{entry.excerpt_translated}}
							</div>
							
						{{/unless}}

					{{/if}}

				</div>

			{{/each}}

		</div>
	{{/each}}
</div>
