$pt = 16.666666667%


&
	position: fixed
	width: 100%
	height 60px
	background: #FFF
	z-index: 1000
	box-sizing(border-box)
	top: 0px
	left: 0px


	&.transparent-menu
		background: rgba(255,255,255,0)

		.logo
			background-image: url(../img/logo_white.png)
			transition(0.2s)
			&:hover
				background-image: url(../img/logo.png) !important


		.menu-line
			background: #FFF	

		@media $media1
			position: fixed
			padding: 0px 10%

			.wrapper
				background: #FFF
				width: 100%
				box-shadow(0 1px 3px 0 rgba(102,102,102,0.21))
				
				max-width: 960px
				display: block
				margin: 0px auto 0px auto

			.logo
				background-image: url(../img/logo.png)	
				left: 50px

			.menu-line
				background: #000

		@media $media2
			padding: 0px 5%	
			.wrapper .logo
				left: 40px

		@media $media3
			.wrapper .logo 
				left: 20px

		@media $media4
			.wrapper .logo 
				left: 10px					


	&.full
		bottom: 0px
		height: 100%

	.wrapper
		position: relative
		width: 100%
		height: 60px


	.logo
		width: 100px
		height: 34px
		left: 30px
		top: 13px
		position: absolute
		transition(0.3s)	
		background-image: url(../img/logo.png)		
		background-size: cover
		background-position: center center

		@media all and (max-width: 700px)	
			left: 10px

	.menu-line
		position: absolute
		width: 30px
		height: 2px
		border-radius: 2px
		background: #000
		right: 30px
		top: 50%
		transition(0.15s all)
		margin-bottom: -3px

		@media all and (max-width: 700px)	
			right: 10px

		&.hover
			transform(scaleY(2) scaleX(1.5))

		&.active
			//margin: 0px
			//right: 0px
			//top: 0px
			//width: 100%

		&.l1
			//background: $r1
			margin-top: -10px
			transform-origin(bottom)

			&.hover
				background: $r1

			&.active
				top: 0px
				background: $r1	

		&.l2
			margin-top: -8px
			transform-origin(top)
			&.hover
				background: $r2
			&.active
				top: $pt
				background: $r2	

		&.l3
			margin-top: -2px
			transform-origin(bottom)
			&.hover
				background: $r3
			&.active
				//top: $pt*2
				background: $r3		

		&.l4
			margin-top: 0px
			transform-origin(top)
			&.hover
				background: $r4
			&.active
				//top: $pt*3
				background: $r4			

		&.l5
			transform-origin(bottom)
			margin-top: 6px
			&.hover
				background: $r5
			&.active
				top: $pt*4
				background: $r5	

		&.l6
			margin-top: 8px
			transform-origin(top)
			&.hover
				background: $r6	
			&.active
				top: $pt*5
				background: $r6		


