<div class="wrapper">
	{{#link-to 'home' language}}<div class="logo" ></div> {{/link-to}}

	{{#each menuLines as |line|}}
		<div class="menu-line {{line.cls}}" ></div>
	{{/each}}

	{{menu-button action="showMenu"}}
</div>


