{{#if page.pictures}}
	<div class="spacer"></div>
	{{smart-image pictures=page.pictures wide_box=true parent='.page-content' aspect_ratio=0.44}}
{{/if}}

<div class="text-content">
	<h1>{{page.title_translated}}</h1>
	{{{page.content_translated}}}

	{{#if page.sponsorsPage}}

		<div class="sponsors">
			{{#each page.sponsors as |sponsor|}}


				{{our-sponsors sponsor=sponsor}}

			{{/each}}
		</div>

	{{/if}}
</div>



