$pt = 16.7%

&
	position: fixed
	width: 100%
	top: 0px
	bottom: 0px
	left: 0px
	z-index: 1001
	background: none
	transform(translate(0px, -10000px))

	&.visible
		display: block
		transform(translate(0px, 0px))

	.menu-wrapper
		position: absolute
		//width: 150px
		top: 0px
		//height: 30px
		left: 0px
		width: 100%
		height: 100%
		bottom: 0px
		background: none
		//transition(0.2s all)
		-webkit-transform:translate3d(0px,0px,0px)

		&.visible
			top: 0px
			height: 100%
			width: 100%

		li
			position: relative
			right: 0px 
			width: 100%
			height: $pt
			margin-bottom: 0px
			overflow: hidden
			transition(0.2s)
			background: none !important

			.box 
				position: absolute
				left: 0px 
				top: 0px
				width: 100%
				height: 100%
				transform(translate(-100%, 0))
				background: none
				transition(0.5s)
				-webkit-backface-visibility: hidden

				&.right
					transform(translate(100%, 0))
			
			span
				cursor: pointer

				&:hover
					text-decoration: underline

			a, a:visited
				color: #FFF
				text-decoration: none	

			a:hover	
				text-decoration: underline

			&.visible

				.box 
					transform(translate(0,0)) !important

				.text
					opacity(1)

			&.l1
				.box
					background: $r1	

			&.l2
				.box
					background: $r2	

			&.l3
				.box 
					background: $r3		

			&.l4
				.box
					background: $r4			

			&.l5
				.box
					background: $r5	

			&.l6
				.box
					background: $r6	

			.text
				position: absolute
				width: 100%
				font-size: 50px
				color: #FFF
				margin-top: -28px
				top: 50%
				font-weight: bold
				text-align: center
				transition(0.3s all)
				opacity(0)

				@media all and (max-width: 768px)
					font-size: 35px
					margin-top: -20px

				.subpages
					position: absolute
					width: 100%
					padding: 5px 0px 20px 0px
					top: 50%
					margin-top: 28px
					transition(0.3s all)

					@media all and (max-width: 768px)
						margin-top: 15px

					&.hide 
						transform(translate(0px, 200px))

					li 
						position: relative
						width: 100%
						font-size: 0.5em
						font-weight: normal
						margin: 5px 0px
						height: auto
						text-align: center	
						color: #FFF

						a, a:visited
							color: #FFF
							text-decoration: none
							transition(0.2s all)

						a:hover
							text-decoration: underline


						&:hover
							padding: 0px


.close
	position: absolute
	top: 15px
	right: 22px
	font-size: 32px
	z-index: 1001
	color: #FFF
	cursor: pointer

	@media all and (max-width: 768px)
		font-size: 25px
		top: 0px 
		right: 0px
		padding: 10px