<div class="close icon-cancel" {{action 'closeMenu'}}></div>

<ul class="menu-wrapper {{if visible 'visible'}}">
	{{#each menuLines as |line|}}
		<li class="{{line.cls}} {{if visible 'visible'}}" {{action 'menuClick' line.cls}}>

			<div class="box"></div>
			<div class="box right"></div>

			<div class="text">
				
				{{#if line.news}}
					{{#link-to 'news' language invokeAction='closeMenu'}} {{line.text}} {{/link-to}}
				{{else}}	

					{{#if line.donate}}
						<a href="https://dk.betternow.org/en/projects/copenhagenpride-projekt" target="_blank">{{line.text}}</a>
					{{else}}
						<span>{{line.text}}</span>
					{{/if}}	
				{{/if}}


				{{#if line.hasSubpages}}
					<ul class="subpages {{if line.hideSubpages 'hide'}}">
						{{#each line.pages as |page| }}

							<li>
								{{#link-to 'page' language page.slug invokeAction='closeMenu'}}
									{{page.title_translated}}
								{{/link-to}}
							</li>

						{{/each}}
					</ul>
				{{/if}}
			</div>
		</li>
	{{/each}}
</ul>