{{#if wide_box}}<div class="wide-box" style="padding-top:{{paddingTop}}; background-image:url({{backgroundImage}})"></div>{{/if}}

{{#if fullscreen}}<div class="fullscreen-box" style="padding-top:{{paddingTop}}; background-image:url({{backgroundImage}})"></div>{{/if}}

{{#if text}} {{text-fit maxFontSize=maxFontSize parent='.smart-image' text=text middle=true}} {{/if}}

{{yield}}
