$pt = 16.666666667%

&
	position: fixed
	width: 100%
	top: 0px
	bottom: 0px
	left: 0px
	z-index: 1

	.lines
		position: absolute
		top: 0px
		background: none
		height: 100%
		width: 100%

		li
			position: relative
			right: 0px
			width: 100%
			overflow: hidden
			transition(0.3s)
			height: $pt
			margin-bottom: 0px

			&.l1
				background: $r1	

			&.l2
				background: $r2	

			&.l3
				background: $r3		

			&.l4
				background: $r4			

			&.l5
				background: $r5	

			&.l6
				background: $r6	
