&
	position: relative
	width: 33.33333333%
	float: left
	cursor: pointer

	@media $media3
		width: 50%

	.yellow
		position: absolute
		top: 0px
		bottom: 0px
		width: 100%
		height: 100%
		box-sizing(border-box)
		padding: 30px
		background: $r3
		opacity(0)
		transition(0.2s)

		@media $media1
			padding: 20px

		@media $media2
			padding: 10px	

		@media $media3
			padding: 20px

		@media $media4
			padding: 10px		

		&.hover
			opacity(1)