{{#if sponsor.pictures}}
	{{smart-image pictures=sponsor.pictures wide_box=true parent='.sponsor' aspect_ratio=1}}
{{/if}}	

<div class="yellow {{if sponsor.hover 'hover'}}">
	{{text-fit maxFontSize=21 parent='.yellow' text=sponsor.how_translated}}
</div>
