&
	position: fixed
	width: 100%
	height 40px
	z-index: 1000
	box-sizing(border-box)
	bottom: 0px
	left: 0px

	
	&.transparent-menu	
		
		
		@media all and (max-width: 950px)
			padding: 0px 10%
			height: 30px

			.wrapper
				background: #FFF
				width: 100%
				box-shadow(0 -1px 3px 0 rgba(102,102,102,0.21))
				
				max-width: 960px
				height: 30px
				display: block
				margin: 0px auto 0px auto

			.language-wrapper
				color: #000
				padding-top: 5px

				span
					&:hover, &.english.en, &.danish.da
						border-bottom: 1px solid #000 

			.social-wrapper 
				padding-top: 4px
				.icon
					color: #000
					border: 1px solid #000	

					&:hover
						border: 1px solid $r6
						color: #FFF
						background: $r6	
		
		@media $media2
			padding: 0px 5%

	.wrapper
		position: relative
		width: 100%
		height: 40px


	.language-wrapper
		position: absolute
		left: 30px
		top: 0px
		font-size: 16px
		font-weight: bold
		color: #FFF

		@media $media1
			left: 10px

		span
			cursor: pointer
			&:hover, &.english.en, &.danish.da
				border-bottom: 1px solid #FFF 

	.social-wrapper
		position: absolute
		right: 30px
		top: 0px
		font-size: 13px

		@media $media1
			right: 10px

		.icon 
			position: relative
			float: right
			margin-left: 5px
			width: 20px
			height: 20px
			border: 1px solid #FFF		
			border-radius: 20px	
			color: #FFF
			text-align: center
			line-height: 20px
			cursor: pointer
			
			&:hover
				background: #FFF
				color: $r6




