{{yield}}

<div class="wrapper">
	

	<div class="language-wrapper">
		<span class="english {{language}}" {{action 'changeLanguage' 'en'}}>en</span> / <span class="danish {{language}}" {{action 'changeLanguage' 'da'}}>da</span>
	</div>

	<div class="social-wrapper">
		<div class="icon icon-facebook" {{action 'newtab' 'https://www.facebook.com/Copenhagen-Pride-official-87468072466 '}}></div>
		<div class="icon icon-twitter" {{action 'newtab' 'https://twitter.com/copenhagenpride'}}></div>
		<div class="icon icon-youtube-play" {{action 'newtab' 'https://www.youtube.com/channel/UCcH-wjL1gii7Olcyg0C341A'}}></div>
	</div>

</div>
