.row 
	position: relative
	transition(0.2s all)
	cursor: pointer
	background:#FFF

	.text-content
		width: 100%
		box-sizing(border-box)
		padding: 60px 60px 80px 60px
		color: #000

		@media $media1
			padding: 60px 50px 70px 50px

		@media $media2
			padding: 60px 40px 70px 40px

		@media $media3
			padding: 50px 30px 60px 30px

		@media $media4
			padding: 40px 15px 50px 15px

		transition(0.25s)	

		.date
			position: relative
			width: 100%
			font-size: 0.21em	
			padding-bottom: 1.4em

		.title
			position: relative
			width: 100%
			font-size: 0.54em

	.line-wrapper 
		position: absolute
		bottom: 20px
		width: 100%
		box-sizing(border-box)
		padding: 0px 60px

		@media $media1
			padding: 0px 50px

		@media $media2
			padding: 0px 40px

		@media $media3
			padding: 0px 30px

		@media $media4
			padding: 0px 15px

		.line 
			position: relative
			width: 100%
			border-bottom: 5px dotted #000

.image-row
	position: relative
	width: 100

	.wide-box 
		position: relative

	.text-content
		position: absolute
		top: 0px
		left: 0px	
		color: #FFF

		@media $media2
			padding: 40px 40px 40px 40px

		@media $media3
			padding: 20px 30px 20px 30px

		@media $media4
			padding: 10px 15px 10px 15px


		.date 	
			@media $media3
				padding-bottom: 1em

			@media $media4
				padding-bottom: 0.5em

	&:hover
		.title
			text-decoration: underline

.text-row
	position: relative

	&:hover
		.text-content
			background: #000	
			color: #FFF

		.title
			text-decoration: underline			