{{#if article.pictures}}
	<div class="row image-row" {{action 'showArticle' article.slug}}>
		{{smart-image pictures=article.pictures wide_box=true parent='.news-content' aspect_ratio=ars}}
		<div class="text-content">
			<div class="date">{{formatted-date article.created_at}}</div>
			<div class="title">{{article.title_translated}}</div>
		</div>
	</div>
{{else}}
	<div class="row text-row">
		<div class="text-content" {{action 'showArticle' article.slug}}>
			<div class="date">{{formatted-date article.created_at}}</div>
			<div class="title">{{article.title_translated}}</div>
		</div>

		{{#if article.line}}
			<div class="line-wrapper">
				<div class="line"></div>
			</div>	
		{{/if}}	
	</div>
{{/if}}